.card-holder {
  display: flex;
  flex-direction: row;
  height: 200pt;
  margin: 10px;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  margin: 10px;
  margin-left: 250px;
}

.card-container {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.87);
  -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 4px;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
    0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  overflow: hidden;
  min-width: 300px;
  max-height: 200pt;
  margin: 10px;
}
.arrow {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  right: 1%;
  user-select: none;
  border: 0;
  background: none;
}

.arrow:hover {
  color: #8f1796;
}
.arrow.disabled {
  color: black;
  cursor: initial;
}

.react-horizontal-scrolling-menu--scroll-container {
  scrollbar-width: none;
}

.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
  display: none;
}

.card-wrap-offset {
  margin: 10px;
}

.modal-arrow {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}

.modal-left {
  left: 1%;
}

.float-left {
  float: left;
}

.ahhact p {
  color: red !important;
}
